.messenger{
    display: flex;
}

.chat-menu {
    flex: 1;
}

.chat-box {
    flex: 4;
}
.chat-menu-container{
    padding: 10px;
    background: rgba(161, 161, 161, 0.233);
}
.chat-box-container{
    padding: 10px;
    background: rgba(161, 161, 161, 0.5);
}

.chat-box-messages {
    height: 100%;
    overflow-y: scroll;
    padding-right: 10px;
  }

  .chat-box-input {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .chat-message-input {
    width: 80%;
    height: 90px;
    padding: 10px;
  }

  .chat-submit-button {
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(69, 120, 165);
    color: white;
  }

  .chat-submit-button:hover {
    background-color: rgb(95, 168, 231);
  }
